@import url('https://fonts.googleapis.com/css2?family=SUSE+Mono:ital,wght@0,100..800;1,100..800&family=Sixtyfour&display=swap');
:root {
	--font-code: 'Sixtyfour';
	--font-cozy: 'SUSE Mono';
}
.font-code {
	font-family: var(--font-code);
}
.font-cozy {
	font-family: var(--font-cozy);
}
p {
	font-family: var(--font-cozy);
	color: oklch(96.8% 0.007 247.896);
}

@media screen and (width > 1300px) {
	p {
		line-height: 2;
	}
}